{% extends "base.html" %}
{% block content %}

<section>
  <div class="row">
    <table class="table table-hover table-borderless text-center">
      <thead class="thead-dark"></thead>
      <tr class="text-center">
        <th class="fit"></th>
        <th class="fit"></th>
        <th class="fit">Cake Title</th>
        <th class="fit">Quantity</th>
        <th class="fit">Per Unit Price</th>
      </tr>
      </thead>
      {% for each in order.getCartItems %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          {% if each.item.photo %}
          <a href="{% url 'showCake' each.item.id %}">
            <img class="img-rounded hover-effect" width="100" src="{{ MEDIA_URL }}{{ each.item.photo }}" />
          </a>
          {% endif %}
        </td>
        <td>
          {{ each.item }}<br>
          <a href="{% url 'removeFromCart_OS' each.item.id %}">
            <span class="badge badge-pill badge-danger"><i class="fa fa-minus-circle"></i>&nbsp</i>Quantity</span>
          </a><br>
          <a href="{% url 'addToCart_OS' each.item.id %}">
            <span class="badge badge-pill badge-warning"><i class="fa fa-plus-circle"></i>&nbsp</i>Quantity</span>
          </a>
        </td>
        <td>
          <span class="badge badge-pill badge-secondary">{{each.qty}}</span>
        </td>
        <td>
          {% if each.item.is_on_sale %}
          <span class="badge badge-pill badge-danger">
            <iclass="fa fa-tags"></i>&nbsp<del>${{ each.item.get_price|floatformat:2 }}</del>
          </span><br />
          <span class="badge badge-pill badge-warning">SALE: ${{ each.item.current_price|floatformat:2 }}</span>
          {% else %}
          <span class="badge badge-pill badge-danger"><i
              class="fa fa-tags"></i>&nbsp${{ each.item.get_price|floatformat:2 }}</span>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan=5> You have not added any items yet.</td>
      </tr>
      {% endfor %}
      <tr>
        {% if order.getCartTotal != None %}
        <td colspan=2>
          <strong class="pull-right">Order Total:</strong>
        </td>
        <td colspan=1 class="alert alert-dark" role="alert">
          $<strong>{{ order.getCartTotal }}</strong>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td colspan=5>
          <a class = 'btn btn-secondary' href="{% url 'listAllCakes' %}">
            {% if order %}Continue Shopping{% else %}Add Items to
            Cart {% endif %}
          </a>
          {% if order.getCartItems %}
          <a href="{% url 'place_order' %}" class="btn btn-primary">Proceed To Checkout</a>
          {% endif %}
        </td>
      </tr>
    </table>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dark alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

  </div>
</section>
{% endblock %}