{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-3">
    <h2>{{ product.name }}</h2>
    {% if product.photo %}
    <div>
      <a href="{% url 'show-product' product.id %}">
        <img width="200" src="{{ MEDIA_URL }}{{ product.photo }}" />
      </a>
    </div>
    {% endif %}
  </div>
  <div class="col-sm-6">
    <p class="text-justify">{{ product.description }}</p>
    {% if product.is_on_sale %}
    <p>
      <span class="badge badge-pill badge-danger"><i class="fa fa-tags"></i>&nbsp<del>${{ product.get_price|floatformat:2 }}</del></span><br />
      <span class="badge badge-pill badge-warning">SALE: ${{ product.current_price|floatformat:2 }}</span>
    </p>
    {% else %}
    <p>
        <span class="badge badge-pill badge-danger"><i class="fa fa-tags"></i>&nbsp${{ product.get_price|floatformat:2 }}</span>
    </p>
    <span>&nbspOccasion: {{ product.get_occasion_display }}</span>
    {% endif %}
  </div>
</div>
{% endblock %}